<h1 class="mb-3 mt-3">Home</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-container">
    <div class="form-title">Form Title</div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="form-container">
    <div class="form-title">Form Title</div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Form Label</label>
            <input class="form-control">
        </div>      
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Form Label</label>
            <select class="form-select">
                <option>test</option>
                <option>test</option>
                <option>test</option>
            </select>
        </div>

        <div class="col">
            <label class="form-label">Form Label</label>
            <input class="form-control">
        </div>        
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Form Label</label>
            <input class="form-control">
        </div> 

        <div class="col">
            <label class="form-label">Form Label</label>
            <input class="form-control">
        </div>       
    </div>

    <div class="mt-4 mb-2">
        <%= link_to "SUBMIT", home_index_path, class: "btn btn-outline-primary px-4" %>
    </div>
</div>

